%h2= link_to @context.name, @context

%h3= link_to @story.name, [@context, @story]

= BlueCloth.new(@story.description).to_html.html_safe

= form_for [@context, @story, @suite] do |f|
  %p
    Browser:
    - @context.browsers.each do |browser|
      = f.radio_button :browser, browser
      = f.label "browser_#{browser}", name_of(browser)
  = f.fields_for :checks do |c|
    %p
      = c.hidden_field :element_id
      = c.check_box :passed
      = c.label :passed, c.object.element.description
    
  %p= f.submit 'Save'
  
  
= render partial: 'report'