%h2= link_to @context.name, @context

%p= @story.description

= form_for [@context, @story, @suite] do |f|
  %p
    - @context.browsers.each do |browser|
      = f.radio_button :browser, browser
      = f.label "browser_#{browser}", browser
  = f.fields_for :checks do |c|
    %p
      = c.hidden_field :element_id
      = c.check_box :passed
      = c.label :passed, c.object.element.description
    
  %p= f.submit 'Save'
  
  
%p= link_to 'Edit Story', [@context, @story]