%h2= link_to @context.name, @context

%h3= link_to @story.name, [@context, @story]

%p
  Browser: 
  = name_of @suite.browser

%p= @story.description

= form_for [@context, @story, @suite] do |f|
  = f.fields_for :checks do |c|
    %p
      = c.check_box :passed
      = c.label :passed, c.object.element.description

  %p= f.submit 'Update'
  
= render partial: 'report'