%h2 Assignments

= form_tag current_user, :method=>:get do
  %p
    %select{name: 'user_id'}
      - User.all.each do |u|
        - options = {value: u.id}
        - options[:selected] = 'selected' if u == @user
        %option{options}= u.name
    = submit_tag 'Show'


%table.data
  %tr
    %th Context
    - Suite.browsers.each do |browser|
      %th= browser
  - @release.contexts.each do |context|
    %tr
      %td= link_to context.name, context
      - Suite.browsers.each do |browser|
        - if @user.assigned?(context, browser)
          %td{style: "background-color: #{colorize context.passed_for(browser, @user)}"}= context.passed_for(browser, @user)
        - else
          %td 