%h1 
  New Story for
  = link_to @release.name, root_path
  = link_to @context.name, @context

= form_for [@context, @story] do |form|
  %p Description
  %p= form.text_field :description
  
  %p= form.submit 'Create'