%h2
  New Story for
  = link_to @context.name, @context

= form_for [@context, @story] do |form|
  %p Description
  %p= form.text_field :description
  
  %p Tests
  = form.fields_for :elements do |element|
    %p= element.text_field :description
  
  
  %p= link_to 'Add Test', '#', class: 'add_test'
  
  %p= form.submit 'Create'