%h1= @release.name
%h2= link_to @context.name, @context

= form_for [@context, @story] do |form|
  %p Name
  %p= form.text_field :name

  %p Description
  %p= form.text_area :description

  %p Tests
  #Elements
    = form.fields_for :elements do |element|
      %p
        = element.text_field :description, class: 'story_element'
        = link_to 'x', element.object, :method=>:delete
      
      
  %p= link_to 'Add Test', '#', class: 'add_element'
  
  %p=form.submit 'Update'