= form_tag root_path, :method=>:get do
  %p
    %select{name: 'user_id'}
      %option{value: ''} Everyone
      - User.all.each do |u|
        - options = {value: u.id}
        - options[:selected] = 'selected' if u == @user
        %option{options}= u.name
    = submit_tag 'Show'

%table.data
  %tr
    %th Context
    - Suite.browsers.each do |browser|
      %th= browser
    %th Blended
  - @release.contexts.each do |context|
    %tr
      %td= link_to context.name, context
      - Suite.browsers.each do |browser|
        - if context.__send__ "#{browser}?"
          %td{style: "background-color: #{colorize context.passed_for(browser, @user)}"}= context.passed_for(browser, @user)
        - else
          %td &nbsp;
      %td.strong{style: "background-color: #{colorize context.passed_blended(@user)}"}= context.passed_blended(@user)
  %tr.strong
    %td Total
    - Suite.browsers.each do |browser|
      %td{style: "background-color: #{colorize @release.passed_for(browser, @user)}"}= @release.passed_for browser, @user
    %td{style: "background-color: #{colorize @release.passed_blended}"}= @release.passed_blended(@user)
      
%p= link_to 'New Context', new_context_path