= form_tag root_path, :method=>:get do
  %p
    %select{name: 'user_id'}
      %option{value: ''} Everyone
      - User.all.each do |u|
        - options = {value: u.id}
        - options[:selected] = 'selected' if u == @user
        %option{options}= u.name
    = submit_tag 'Show'

%table.data
  %tr
    %th Context
    - Suite.browsers.each do |browser|
      %th.percent= browser
    %th.percent Blended
  - @release.contexts.each do |context|
    %tr
      %td.title= link_to context.name, context
      - Suite.browsers.each do |browser|
        - if context.__send__ "#{browser}?"
          - if context.suites.for_browser(browser).from_user(@user).count == 0
            %td
          - else
            %td.clickable{style: "background-color: #{colorize context.passed_for(browser, @user)}"}
              = label_for context.passed_for(browser, @user)
              .hide= link_to '', context
        - else
          %td.inactive
      - if context.suites.from_user(@user).count == 0
        %td
      - else
        %td.strong.clickable{style: "background-color: #{colorize context.passed_blended(@user)}"}
          = label_for context.passed_blended(@user)
          .hide= link_to '', context
  %tr.strong
    %td.title Total
    - Suite.browsers.each do |browser|
      - if @release.suites.for_browser(browser).from_user(@user).count == 0
        %td
      - else
        %td{style: "background-color: #{colorize @release.passed_for(browser, @user)}"}= @release.passed_for browser, @user
    - if @release.suites.from_user(@user).count == 0
      %td
    - else
      %td{style: "background-color: #{colorize @release.passed_blended}"}= label_for @release.passed_blended(@user)
      
%p= link_to 'New Context', new_context_path