%table.data
  %tr
    %th Context
    - Suite.browsers.each do |browser|
      %th= browser
    %th Blended
  - @release.contexts.each do |context|
    %tr
      %td= link_to context.name, context
      - Suite.browsers.each do |browser|
        - if context.__send__ "#{browser}?"
          %td{style: "background-color: #{colorize context.passed_for(browser)}", class: context.coverage(browser)}= context.passed_for(browser)
        - else
          %td &nbsp;
      %td{style: "background-color: #{colorize context.passed_blended}", class: "#{context.coverage} strong"}= context.passed_blended
  %tr.strong
    %td Total
    - Suite.browsers.each do |browser|
      %td{style: "background-color: #{colorize @release.passed_for(browser)}", class: @release.coverage(browser)}= @release.passed_for browser
    %td{style: "background-color: #{colorize @release.passed_blended}", class: @release.coverage}= @release.passed_blended
      
%p= link_to 'New Context', new_context_path