%h1= @release.name
%h2= @context.name

%p= link_to 'New Story', new_context_story_path(@context)

- @context.stories.each do |story|
  %p= link_to story.description, [@context, story]
  %ul
    - story.elements.each do |element|
      %li= element.description