%h2= @context.name

- @context.stories.each do |story|
  - suite = Suite.locate story, current_user
  - if suite.new_record?
    %h3= link_to story.description, new_context_story_suite_path(@context, story, suite)
    %p= "#{pluralize story.elements.count, 'tests'}, performed by #{pluralize story.suites.count, 'other person'}"
  - else
    %h3= link_to story.description, [@context, story, suite]
    %p= "#{pluralize story.elements.count, 'tests'}, performed by you and #{pluralize (story.suites.count - 1), 'other person'}"
    
  - passed = story.checks.passed.count
  - failed = story.checks.failed.count
  %p
    = "#{passed} Passed, #{failed} Failed, "
    - if (passed + failed) == 0
      0% Complete
    - else
      = "#{(passed / (passed + failed).to_f * 100).round}% Complete"
  = bar_graph passed, (passed + failed)
  
    
%p= link_to 'New Story', new_context_story_path(@context)