%h2= @context.name

%table.data
  %tr
    %th Story
    - Suite.browsers.each do |browser|
      %th= browser
    %th Blended
  - @context.stories.each do |story|
    %tr
      %td= story.description
      - Suite.browsers.each do |browser|
        %td{style: "background-color: #{colorize story.passed_for(browser)}", class: story.coverage(browser)}= link_to story.passed_for(browser), new_context_story_suite_path(@context, story, 'suite[browser]'=>browser)
      %td{style: "background-color: #{colorize story.passed_blended}", class: "#{story.coverage} strong"}= story.passed_blended
  %tr.strong
    %td Total
    - Suite.browsers.each do |browser|
      %td{style: "background-color: #{colorize @context.passed_for(browser)}", class: @context.coverage(browser)}= @context.passed_for browser
    %td{style: "background-color: #{colorize @context.passed_blended}", class: @context.coverage}= @context.passed_blended
    
%p= link_to 'New Story', new_context_story_path(@context)