%h2= @context.name

- @context.stories.each do |story|
  %h3= story.description
  %p
    - Suite.browsers.each do |browser|
      - suite = Suite.locate story, current_user, browser
      - if suite.new_record?
        = link_to browser, new_context_story_suite_path(@context, story, suite, 'suite[browser]'=>browser)
      - else
        %strong= link_to browser, [@context, story, suite]
    
  - passed = story.checks.passed.count
  - failed = story.checks.failed.count
  %p
    = "#{passed} Passed, #{failed} Failed, "
    - if (passed + failed) == 0
      0% Complete
    - else
      = "#{(passed / (passed + failed).to_f * 100).round}% Complete"
  = bar_graph passed, (passed + failed)
  
    
%p= link_to 'New Story', new_context_story_path(@context)