%html
  %head
    %title Tester
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    
  %body
    %ul
      %li
        Current Release:
        = link_to @release.name, root_path
      %li= "Logged in as #{@current_user.name}"
      %li= link_to 'Logout', logout_path
  
    = yield
